.leftContainer {
  width: 24.31rem;
  height: 100%;
}

.leftContainer,
.rightContainer {
  margin-top: 110px;
  min-height: 500px;
}

.completedChallenges {
  margin-top: 32px;
}

.counter {
  margin: 56px 0 32px;
}

.sectionWrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.sectionWrapper > * {
  flex: 1;
  min-height: 500px;
}

.sectionWrapper > *:first-child {
  margin-right: 90px;
}

@media (max-width: 750px) {
  .sectionWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sectionWrapper > *:first-child {
    margin-right: 0px;
  }

  .sectionWrapper > *:not(:first-child) {
    margin-top: 0px;
  }

  .leftContainer,
  .rightContainer {
    width: 100%;
  }
}

@media (max-width: 750px) and (min-width: 600px) {
  .sectionWrapper {
    padding: 0 2rem;
  }
}
