.leftContainer {
  width: 24.31rem;
  height: 100%;
}

.rightContainer {
}

.leftContainer,
.rightContainer {
  margin-top: 110px;
}

.completedChallenges {
  margin-top: 32px;
}

.counter {
  margin: 56px 0 32px;
}

.sectionWrapper {
  display: flex;
  justify-content: space-between;
}

.sectionWrapper > * {
  flex: 1;
  min-height: 500px;
}

.sectionWrapper > *:first-child {
  margin-right: 90px;
}
